.TextField-Error{
    -fx-border-color: black;
    -fx-background-color: red;
}

.TextArea-Error .content{
    -fx-border-color: black;
    -fx-background-color: red;
}

.TitledPane-Error {
    -fx-text-fill: red;
}

.DatePicker-Error .text-field{
    -fx-text-fill: black;
    -fx-control-inner-background: red;
}