.TextField-Error{
    -fx-border-color: black;
    -fx-background-color: red;
}

.TextArea-Error .content{
    -fx-border-color: black;
    -fx-background-color: red;
}

.DatePicker-Error{
    -fx-border-color: black;
    -fx-background-color: red;
}